<!--
 * @FilePath: /Programs/Users/a123/lg-cr.github.io/layouts/partials/extend_head.html
 * @Author: Infter
 * @Date: 2026-04-17 19:02:56
 * @LastEditTime: 2026-04-17 19:02:57
-->
<!-- 引入 KaTeX CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css">

<!-- 引入 KaTeX JS -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>

<!-- 引入自动渲染插件 -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js"
  onload="renderMathInElement(document.body, {
    delimiters: [
      {left: '$$', right: '$$', display: true},
      {left: '$', right: '$', display: false}
    ]
  });">
</script>